.buttonCas{
    background-color: #0077FF;
    font-weight: 400;
    color: #FFF;
    display: none;
    
}
@media (max-width: 768px) {
    .buttonCas {
        display:inline-block;
        width: 200px;
        height: 43px;
        z-index: 3;
        top: 5;
    }
  }