.copyright{
     height: 50px;
    background-color: #D20000;
    text-align: center;
    // padding-top: 25px;
    // margin-bottom: 20px;
}
.copyrighttext{
    // padding-bottom: 20px;
    color: white;
    padding-top: 10px;
}